# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints/
profile_default/
ipython_config.py

# Datos
data/raw/*.csv
!data/raw/.gitkeep
data/processed/
*.csv
*.xlsx
*.parquet

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Reports
reports/figures/
!reports/figures/.gitkeep
dashboard/__pycache__/
